@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
:root {
    --themeColor: #001c38;
    --buttonColor: linear-gradient(#64b2ee, #117dd4);
    --buttonOnHoverColor: linear-gradient(#3a80b6, #1f9aff);
    --button-border: #07c;
}

.container {
    border: solid 3px var(--themeColor);
    display: flex;
    flex-direction: column;
    max-width: 768px;
    height: auto;
    margin: 60px auto;
}

form {
    padding: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.heading {
    color: var(--themeColor);
    margin: 20px 0;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
}

.underline {
    border-bottom: solid 2px var(--themeColor);
    margin: -0.512em auto;
    width: 250px;
}

.name__input,
.price__input {
    background: none;
    border: none;
    border-bottom: solid 2px var(--themeColor);
    color: var(--themeColor);
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
}

.name__input:focus,
.price__input:focus {
    outline: none;
    border-bottom: solid 2.2px var(--themeColor);
    padding: 0 0 0.875em 0;
}

.name {
    float: left;
    width: 45%;
}

.price {
    width: 45%;
}

.submit {
    margin-top: 35px;
}

#form_button {
    background: none;
    border: solid 2px var(--themeColor);
    color: var(--themeColor);
    cursor: pointer;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    padding: 20px 35px;
}

#form_button:hover {
    background: var(--themeColor);
    color: #f2f3eb;
}

.image {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.image__btn {
    width: 100%;
    border: 2px solid var(--themeColor);
    color: var(--themeColor);
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.image__input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px 0px;
    max-width: 60%;
    height: auto;
    margin: 60px auto;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.wrap__image {
    margin: 0 auto;
    width: 40%;
    height: 300px;
    object-fit: cover;
    margin: 3%;
}

.wrap__content {
    width: 60%;
    padding-right: 15px;
}

.wrap__content__name {
    color: var(--themeColor);
    margin: 20px 0;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
}

.wrap__content__price {
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-left: 10px;
}

.wrap__content__description {
    padding: 10px;
}