:root {
  --themeColor: #001c38;
  --buttonColor: linear-gradient(#64b2ee, #117dd4);
  --buttonOnHoverColor: linear-gradient(#3a80b6, #1f9aff);
  --button-border: #07c;
}

.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
}

.product-category {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  margin-top: 3%;
}

.product-category__heading {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bolder;
  color: black;
  font-size: 1.3em;
}

.product-category__more {
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  color: #197ac9;
  text-decoration: none;
  background-color: transparent;
}

.product-category__more:hover {
  color: #239cff;
}

/* Slick-Slider */

.slick-slider {
  max-width: 90%;
  margin: 0 auto;
}

.slick-list {
  padding: 10px;
}

.MuiSvgIcon-root {
  color: black;
  font-size: 20px;
}

.MuiSvgIcon-root:hover {
  color: rgb(143, 143, 143);
}

/* Cards */

.product-card-bg {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 15px 0px;
  max-width: 200px;
  height: 285px;
  margin-top: 1.2rem;
  margin-right: 1em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.product-card-bg:focus,
.product-card-bg:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.individual-card {
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.individual-card__img {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 150px;
  object-fit: cover;
  padding-bottom: 5%;
}

.individual-card__name {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 10px;
}

.individual-card__content {
  display: flex;
  flex-direction: column;
}

.content__price {
  color: black;
  font-size: 0.8em;
}

.content__button {
  text-align: center;
  margin-top: 10px;
  padding: 8px;
  font-family: "SF Pro Text", "Myriad Set Pro", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "SF Pro Icons", "Apple Legacy Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: var(--buttonColor);
  border-color: var(--button-border);
  border-radius: 4px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-weight: 400;
}

.content__button a {
  text-decoration: none;
  color: white;
}

.content__button:hover {
  background: var(--buttonOnHoverColor);
}

/* Cities */

.cities {
  max-width: 1200px;
  padding-bottom: 60px;
  margin: auto;
}

@media (max-width: 768px) {
  .cities {
    padding: 64px 24px;
  }
}

.cities__heading {
  text-align: center;
  padding: 5%;
}

.cities__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cities__card {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  padding: 35px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.cities__card:focus,
.cities__card:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.cities__img {
  height: 100px;
  width: 100px;
}
