:root {
  --buttonColor: linear-gradient(#64b2ee, #117dd4);
  --buttonOnHoverColor: linear-gradient(#3a80b6, #1f9aff);
  --button-border: #07c;
}

.subheader {
  background: rgb(219, 219, 219);
  height: 65px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  margin-top: 50px;
}

.container__left-column {
  height: auto;
  max-width: 40%;
}

.left-column__image {
  display: block;
  width: 500px;
  height: 600px;
  object-fit: cover;
  padding-bottom: 5%;
}

.container__middle-column {
  height: auto;
  align-self: flex-start;
  max-width: 30%;
}

.middle-column__product-heading {
  font-size: 2.5em;
  font-weight: 600;
  padding-bottom: 20px;
}

.middle-column__product-rating {
  padding-bottom: 15px;
}

.middle-column__product-price {
  margin-bottom: 10px;
}

.product-price__small {
  font-size: 0.8em;
  font-weight: 500;
}

.product-price__strong {
  font-size: 1em;
  color: rgb(199, 1, 1);
}

.middle-column__availability {
  font-size: 1em;
  font-weight: 500;
  color: rgb(0, 197, 0);
  margin-bottom: 10px;
}

.container__right-column {
  height: auto;
  max-width: 30%;
  border: 1px solid black;
  border-radius: 10px;
  align-self: flex-start;
}

.right-column__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: auto;
  padding: 25px;
}

.card__total-price {
  margin-bottom: 10px;
}

.total-price__small {
  font-size: 0.8em;
  font-weight: 500;
}

.total-price__strong {
  font-size: 1em;
  color: rgb(199, 1, 1);
}

.card__quantity {
  margin-bottom: 10px;
}

.quantity__small {
  font-size: 0.8em;
  font-weight: 500;
}

.quantity__strong {
  font-size: 1em;
  color: rgb(0, 197, 0);
}

.card__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons__buy-now {
  margin-bottom: 20px;
}

.buttons__buy-now,
.buttons__add-to-cart {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  font-weight: 600;
  text-align: center;
  padding: 8px;
  font-family: "SF Pro Text", "Myriad Set Pro", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "SF Pro Icons", "Apple Legacy Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: var(--buttonColor);
  border-color: var(--button-border);
}

.buttons__buy-now:hover,
.buttons__add-to-cart:hover {
  background: var(--buttonOnHoverColor);
}

.fa-star {
  color: rgb(236, 236, 236);
}

.checked {
  color: rgb(255, 238, 0);
}
