.alert {
    padding: 1rem;
    border: 0.1rem solid and transparent;
    border: 0.5rem;
}

.alert-info {
    color: blue;
    background-color: white;
}

.alert-danger {
    color: #a02020;
    background-color: white;
}